/* TIENDA - Main */
.video-container {
    position: relative;
    height: 400px;
    width: 100%;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.containertienda{
    // margin: 50px;
    display: grid;
    /* padding-top: 25vh; */
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "tiendacontainer";
}

.textoTienda {
    /* background-color: #bcb915; */
    grid-area: textoTienda;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px 30px;
    color: rgb(255, 255, 255);
    font-style: italic;
    align-items: center;
    
    /* box-sizing:content-box; */
}
/* .asidetext {
    
} */
.contactanos {
    color: red;
    text-decoration: none;
    text-decoration-line: none;
}

.tiendacontainer {
    grid-area: tiendacontainer;
    width: 100%;
    overflow: hidden;
    padding-top: 30px;
    /* background-color: blue;
    border: 5px white solid; */
    /* margin-left: 20px; */
}
.tiendah2 {
    font-family:"Poppins", sans-serif;
    display: flex;
    color: white;
    justify-content: center;
    font-style: italic;
    padding-left: 5%;
    padding-right: 5%;
}
.galeria {
    /* background-color: aqua; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.cardtienda {
    width: 25rem;
    margin: 2rem;
    border-radius: 8px;
}
.card-img-top {
    padding-bottom: 1rem;
    width: 18rem;
    height: 18rem;
    border-radius: 8px;
}
.card-img-top:hover {
    transform: scale(1.1);
    transition: 0.9s;
}
.card-title {
    color: white;
}
.card-text{
    color: white;
}

.tiendaimg {
    width: 350px;
    height: auto;
}

.botonTiendaDescubre{
    display: flex;
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 30px;
    background-color: white;
    justify-content: center;
}

.descubreDeco {
    width: 100%;
    padding: 15px 30px;
    font-family: "Poppins", serif;
    font-size: 12px;
    font-weight: bolder;
    color: black;
    background-color: rgb(0, 0, 0);
    border: 5px solid rgb(255, 255, 255);
    transition: background-color 0.3s, color 0.3s;
    text-decoration-line: none;
    text-align: center;
}

.descubreDeco:hover {
    background-color: #000000;
    color: #e0e0e0;
}

